In [1]:
import pandas as pd

In [6]:
ls

abstract.txt  PeopleStates.xlsx  PyVersionCheck.ipynb  README.md

In [60]:
# read_excel will read first sheet if don't specify another

ps = pd.read_excel('PeopleStates.xlsx')
ps

     name                          states
0   Bobby               Wyoming, Michigan
1     Sue   Wisconsin, Nevada, California
2  Tamika             Florida, Washington
3    Cale                    South Dakota
4    Iris  Washington, Oregon, California

In [61]:
# string operations will be applied to each row
# will end up with a single column of lists if don't put expand=True

psplit = ps.states.str.split(',', expand=True)
psplit

              0            1            2
0       Wyoming     Michigan         None
1     Wisconsin       Nevada   California
2       Florida   Washington         None
3  South Dakota         None         None
4    Washington       Oregon   California

In [62]:
# concat will use the index to align rows

pexp = pd.concat([ps.name, psplit], axis=1)
pexp

     name             0            1            2
0   Bobby       Wyoming     Michigan         None
1     Sue     Wisconsin       Nevada   California
2  Tamika       Florida   Washington         None
3    Cale  South Dakota         None         None
4    Iris    Washington       Oregon   California

In [63]:
# id_vars will be repeated and not un-pivoted

ptidy = pd.melt(pexp, id_vars=['name'], value_name='state')
ptidy.head(8)

     name variable         state
0   Bobby        0       Wyoming
1     Sue        0     Wisconsin
2  Tamika        0       Florida
3    Cale        0  South Dakota
4    Iris        0    Washington
5   Bobby        1      Michigan
6     Sue        1        Nevada
7  Tamika        1    Washington

In [64]:
# since we didn't specify a var_name for melt(), it defaulted to "variable"
# can specify a list to select only certain columns, dropping others not needed

ptidy = ptidy[['name','state']]
ptidy

      name         state
0    Bobby       Wyoming
1      Sue     Wisconsin
2   Tamika       Florida
3     Cale  South Dakota
4     Iris    Washington
5    Bobby      Michigan
6      Sue        Nevada
7   Tamika    Washington
8     Cale          None
9     Iris        Oregon
10   Bobby          None
11     Sue    California
12  Tamika          None
13    Cale          None
14    Iris    California

In [67]:
# many methods include an "inplace" argument, so it won't make a copy
# NOTE: you're writing over your data in place!

ptidy.dropna(inplace=True)

In [68]:
ptidy.sort_values(by='name', inplace=True)
ptidy

      name         state
0    Bobby       Wyoming
5    Bobby      Michigan
3     Cale  South Dakota
4     Iris    Washington
9     Iris        Oregon
14    Iris    California
1      Sue     Wisconsin
6      Sue        Nevada
11     Sue    California
2   Tamika       Florida
7   Tamika    Washington